.selector {
    display: inline-block;
    text-align: left;
    background-color: #EEEEEE;
    border-radius: 1em;
}

.chatroom-item {
    display: block;
    font-size: 1.2em;
    padding: 0.5em;
}

.chatroom-content {
    display: inline-block;
}

.chatroom-active {
    background-color: lightgray;
}